* {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

a {
    color: #3498DB;
}

.dg.ac {
    z-index: 999 !important;
}

/* ------------------------- */
/* Temporary Control Styling */
/* ------------------------- */

#controls a {
    font-weight: bold;
}

#controls > .header {
    font-size: 14pt;
    text-align: center;
}

#img {
    max-width: 300px;
}

/* ----------- */
/* GUI Styling */
/* ----------- */

#gui-top, #gui-bottom {
    z-index: 6;
    position: fixed;
    width: 100%;
    height: 100px;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    
}
#gui-bottom {
    bottom: 0;
}

/* Chrome Only, Edge has black/purple player though */
audio::-webkit-media-controls-panel {
    background: rgba(0, 0, 0, 0);
}

.overlay-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    background: rgba(0, 0, 0, 0.75);
    pointer-events: none;
    display: none;
}

.overlay-window {
    height: calc(100% - 300px);
    padding: 0px 50px;
    pointer-events: none;
}

#gui-full-holder {
    height: calc(100% - 300px);
}

#controls {
    line-height: 0.8em;
    font-size: 10pt;
}

.overlay-pane {
    z-index: 4;
    position: fixed;
    padding: 15px;
    background-color: rgba(34, 34, 34, 0.65);
    color: #DBDBDB;
    max-width: 100%;
    pointer-events: auto;
    border-radius: 15px;
}

.page-control {
    font-size: 24pt;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}

#db-prev {
    left: -38px;
}

#db-next {
    right: -38px;
}

#db-page-info {
    font-size: 12pt;
    text-align: center;
    padding-bottom: 16px;
}

/* ---------- */
/* About pane */
/* ---------- */

.overlay-pane {
    text-align: center;
    font-family: "Open Sans", Helvetica, Verdana, sans-serif !important;
    font-weight: 300;
    font-size: 16pt;
}

#about-pane {
    line-height: 3em;
}

#welcome-pane, #welcome-noauto-pane {
    max-width: 400px;
}

#about-header {
    font-size: 32pt;
    margin-bottom: 24px;
}

#about-hotkeys {
    line-height: 1.3em;
}

#welcome-content, #welcome-noauto-content {
    line-height: 1.5em;
}

/* ------------ */
/* GUI Elements */
/* ------------ */

#audio {
    display: none;
}

#song-info {
    color: white;
    text-transform: uppercase;
    /*line-height: 90%;*/
    text-align: center;
}

#song-info > div {
    margin-top: 12px;
    margin-bottom: 12px;
    letter-spacing: -1px;
}

#gui-artist {
    font-size: 24pt;
    margin-bottom: 12px;
    font-weight: 700 !important;
}

#gui-title {
    font-size: 15pt;
    margin-top: 12px;
}

#view-database {
    min-width: 100px;
    margin-left: 15px;
}

#elm-about {
    min-width: 60px;
    text-align: center;
    margin-right: 10px;
    font-size: 12pt;
}

input[type="file"] {
    display: none;
}

#upload-button:hover {
    color: rgba(0, 0, 0, 0.87) !important;
}

#db-input {
    margin-bottom: 8px;
}

.db-edit-input {
    color: black;
    display: inline;
    min-width: 90%;
}

#db-view td {
    line-height: 1.5em;
    padding: 0px 15px;
}

#db-view td > div {
    max-height: 50px;
    overflow: hidden;
}

.row-art {
    padding: 0 0 !important;
    line-height: 0em !important;
}

.row-title, .row-artist {
    min-width: 200px;
}

.db-song-control {
    white-space: nowrap;
    font-size: 14pt;
}

.db-song-control a {
    color: #E0E1E2 !important;
}

.boxclose {
    float: right;
    margin-top:-26px;
    margin-right:-30px;
    cursor:pointer;
    color: #E0E1E2 !important;
    font-size: 26px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
}

/* ------------- */
/* Audio Wrapper */
/* ------------- */

.flex {
    display: flex;
    align-items: center;
}

.flex-auto {
    flex: 1 1 auto;
}

#audio-player {
    width: 100%;
    height: 65px;
    color: white;
}

.time {
    font-size: 14px;
    font-weight: 900;
    color: white;
    position: relative;
    margin-left: 18px;
    margin-right: 8px;
}

#progressbar, #volume {
    height: 18px;
    min-width: 35px;
    display: inline-block;
    border-radius: 0px;
    border: none;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

#play, #mute {
    font-size: 20px;
    width: 17px;
}

#mute {
    margin-left: 10px;
    margin-right: 10px;
}

#next, #previous {
    font-size: 14px;
}

#play, #next, #previous, #shuffle {
    padding: 5px;
    width: auto;
}

#shuffle {
    margin-left: 10px;
    font-size: 12pt;
}

#previous {
    margin-left: 15px;
}

#mute {
    margin-left: 8px;
}

#volume {
    max-width: 110px;
    margin-right: 15px;
}

progress {
    -webkit-appearance: none;
    color: #3498DB;
}

progress::-ms-fill {
    border: none;
}

progress::-moz-progress-bar {
    background: #3498DB;
}

progress::-webkit-progress-value {
    background: #3498DB;
}

progress::-webkit-progress-bar {
    background-color: #FFFFFF;
}

.interactable {
    cursor: pointer !important;
}

.interactable:hover {
    color: #BABBBC !important;
    transition: 0.1s;
}

.interactable.on {
    color: #3498DB;
}

.interactable.on:hover, a.interactable:hover {
    color: #2979AF !important;
}

button.interactable:hover {
    color: rgba(0,0,0,.87) !important;
}

@media screen and (max-width: 550px) {
    #volume {
        display: none !important;
    }
    #mute {
        margin-right: 25px;
    }
}

@media screen and (max-width: 450px) {
    #time {
        display: none !important;
    }
    #next, #shuffle {
        margin-right: 15px;
    }
}

@media screen and (max-width: 350px) {
    #previous, #next {
        display: none !important;
    }
    #play {
        margin-left: 25px;
    }
}
