html {
    background-color: #222;
}
body {
    margin: 0;
}

/* Temporary gross af styling */
#controls {
    z-index: 3;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 15px;
    background-color: rgba(34, 34, 34, 0.65);
    color: #DBDBDB;
    width: 200px;
    line-height: 0.8em;
    font-size: 10pt;
}

#controls td {
    padding: 5px 15px;
}
#controls a {
    color: red;
    font-weight: bold;
}


#content {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
}

#canvas {
    width: 100%;
    height: 100%;
}

#background {
	overflow: hidden;
    position: absolute;
    transition: opacity 0.3s;
}

/* Dynamic class for flipping image */
.bgleft {
    margin-left: 50%;
}

.bgright {
    margin-left: -50%;
}

#bgimg1, #limg1 {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#bgimg2, #limg2 {
    transform: scale(-1, 1);
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.realbg img {
    z-index: 1;
}

.lazyaf img {
    z-index: 0;
}
